*{
    margin: 0;
    padding: 0;
}

.container__general{
    background-color: rgb(178, 168, 159);

}


/*INDEX*/
/* header */
/*NAVBAR BS*/
.navBar-modificada{
    background-color: rgb(178, 168, 159);
    height: 6.5rem;
}
.items-barra li a{
    text-decoration: none;
    color: black;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.items-barra{
    margin-right: 2rem;
}
.logo{
    margin-left: 3rem;
    
}
.boton{
    margin-right: 1rem;
}

.items-barra li a:hover{
    color: rgb(207, 98, 11);
}



/*main INDEX*/
.mainIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    min-height: calc(100vh - 276px);
}
.main__div{
    width: 60rem;
    height: 28rem;
}

.h1{
    color: black;
    font-size: 120px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: center;
}


.industrial__h2{
    color: black;
    font-size: 90px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: center;
}


.argentino__h2{
    color: black;
    font-size: 80px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: center;
}





/*footer estilo INDEX Y PAGES*/

.footer{
    margin-top: 4rem;
}
.nombre{
    color: rgb(207, 98, 11);
    font-size: 18px;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
}
.div-parrafo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav__footer ul li{
    list-style-type: none;
}

.nav__footer ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.linkedin i{
    color: rgb(207, 98, 11);
    font-size: 25px;
}
.behance i{
    color: rgb(207, 98, 11);
    font-size: 25px;
    margin-left: 20px;
}
.facebook i{
    color: rgb(207, 98, 11);
    font-size: 25px;
    margin-left: 20px;
}
.instagram i{
    color: rgb(207, 98, 11);
    font-size: 25px;
    margin-left: 20px;
}
.divDerechos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 1rem;
}
.divDerechos p{
    color: black;
    font-size: 10px;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    padding: 0 -12px;
}


/*------------------------------*/
/*@media para mobile*/
@media (max-width: 576px) {
    .menuHambur{
        display: inline-block;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .items-barra li a:hover{
        color: rgb(207, 98, 11);
    }    
    
    .main__div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .h1{
        color: black;
        font-size: 28px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 2rem;
    }
    .industrial__h2{
        color: black;
        font-size: 28px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 2rem;
        
    }
    .argentino__h2{
        color: black;
        font-size: 28px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        
    }

    .footer{
        background-color: rgb(178, 168, 159);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
    .div-parrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav__footer ul li{
        list-style-type: none;
    }
    
    .nav__footer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }    
        
    
    
}

/*------------------------------*/
/*@media para sm*/

@media (min-width: 577px) and (max-width: 767px) {
    .items-barra li a:hover{
        color: rgb(207, 98, 11);
    } 
    .main{
        height: 300px;
        margin-top: 50px;
    }
    .h1{
        color: black;
        font-size: 55px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        margin: 3rem 0 3rem 0;
    }
    .industrial__h2{
        color: black;
        font-size: 55px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 3rem;
        
    }
    .argentino__h2{
        color: black;
        font-size: 55px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        
    }

    .footer{
        background-color: rgb(178, 168, 159);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 4rem;
    }
    .div-parrafo{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav__footer ul li{
        list-style-type: none;
    }
    
    .nav__footer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        
    }
    
}

/*------------------------------*/
/*@media para tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .items-barra li a:hover{
        color: rgb(207, 98, 11);
    } 
    .h1{
        color: black;
        font-size: 65px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        margin: 3rem 0 3rem 0;
    }
    .industrial__h2{
        color: black;
        font-size: 65px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 3rem;
        
    }
    .argentino__h2{
        color: black;
        font-size: 65px;
        font-family: 'Syne', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        
    }

    .footer{
        background-color: rgb(178, 168, 159);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;  
        margin-top: 4rem;
    }
    .div-parrafo{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav__footer ul li{
        list-style-type: none;
    }
    
    .nav__footer ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
    }
    
}


/*section pages*/
.divArrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3rem;
}
.arrow{
    color: rgb(207, 98, 11);
    font-size: 40px;

}
.arrow i:hover{
    color: black;
    font-size: 40px;
}
/*------------------------------*/
/*main estilo ABOUT*/
.mainAbout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div__uno{
    width: 44rem;
    height: 31.2rem;
    margin-top: 3rem;
}

.parrafo-uno{
    color: black;
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: left;
}
.parrafo-dos{
    color: black;
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: left;
}
.parrafo-tres{
    color: black;
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: right;
}

/*section uno ABOUT*/
.sectionAbout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sectionAbout div{
    width: 38.2rem;
    height: 37.5rem;
   
}
.sectionAbout div, .babyYoda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*section dos */

.sectionDos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div__experiencia{
    width: 43.8rem;
    height: 43.8rem; 
}

.div__experiencia, .experiencia{
    color: black;
    font-size: 40px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: center;
    align-items: center;

}
.div__experiencia, .trabajo-cuatro, .trabajo-tres, .trabajo-dos, .trabajo-uno{
    color: black;
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    align-items: center;
} 
.experiencia{
    width: 700px;
    height: 50px;
    margin-top: 6rem;
}
.trabajo-cuatro{
    width: 700px;
    height: 101px;
    margin-top: 2rem;
    text-align: left;
}
.trabajo-tres{
    width: 700px;
    height: 101px;
    margin-top: 2rem;
    text-align: left;
}
.trabajo-dos{
    width: 700px;
    height: 101px;
    margin-top: 2rem;
    text-align: right;
}
.trabajo-uno{
    width: 700px;
    height: 101px;
    margin-top: 2rem;
    text-align: right;
}

/*@media para mobile*/
@media (max-width: 576px) {
    .items-barra li a:hover{
        color: rgb(207, 98, 11);
    }
    .div__uno{
        width: 18rem;
        height: 19rem;
        margin-top: 3rem;
        
    }
    .parrafo-uno{
        color: black;
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .parrafo-dos{
        color: black;
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .parrafo-tres{
        color: black;
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    .sectionAbout div, .babyYoda{
        display:none
    }
    /*section dos*/

    .div__experiencia{
        width: 18rem;
        height: 40rem; 
    }
    
    .div__experiencia, .experiencia{
        color: black;
        font-size: 16px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: center;
        align-items: center;
    
    }
    .div__experiencia, .trabajo-cuatro, .trabajo-tres, .trabajo-dos, .trabajo-uno{
        color: black;
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        align-items: center;
    } 
    .experiencia{
        width: 18rem;
        height: 3rem;
        margin-top: 6rem;
    }
    .trabajo-cuatro{
        width: 18rem;
        height: 6rem;
        margin-top: 0.5rem;
        text-align: left;
    }
    .trabajo-tres{
        width: 18rem;
        height: 4.5rem;
       
        text-align: left;
    }
    .trabajo-dos{
        width: 18rem;
        height: 6rem;
        
        text-align: right;
    }
    .trabajo-uno{
        width: 18rem;
        height: 6rem;
     
        text-align: right;
    }

}

/*@media para sm*/

@media (min-width: 577px) and (max-width: 767px) {
    .items-barra li a:hover{
        color: rgb(207, 98, 11);
    }
    .div__uno{
        width: 22rem;
        height: 28rem;
        margin-top: 3rem;
        
    }
    .parrafo-uno{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .parrafo-dos{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .parrafo-tres{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    .sectionAbout div, .babyYoda{
        display:none
    }
    /*section dos*/

        .div__experiencia{
            width: 22rem;
            height: 40rem; 
        }
        
        .div__experiencia, .experiencia{
            color: black;
            font-size: 20px;
            font-family: 'Syne', sans-serif;
            font-weight: 800;
            text-align: center;
            align-items: center;
        
        }
        .div__experiencia, .trabajo-cuatro, .trabajo-tres, .trabajo-dos, .trabajo-uno{
            color: black;
            font-size: 20px;
            font-family: 'Syne', sans-serif;
            font-weight: 700;
            align-items: center;
        } 
        .experiencia{
            width: 22rem;
            height: 2rem;
            margin-top: 4rem;
        }
        .trabajo-cuatro{
            width: 22rem;
            height: 6rem;
            margin-top: 2rem;
            text-align: left;
        }
        .trabajo-tres{
            width: 22rem;
            height: 4.5rem;
           
            text-align: left;
        }
        .trabajo-dos{
            width: 22rem;
            height: 6rem;
            
            text-align: right;
        }
        .trabajo-uno{
            width: 22rem;
            height: 6rem;
         
            text-align: right;
        }
}


/*@media para tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .items-barra li a:hover{
        color: rgb(207, 98, 11);
    }
    .div__uno{
        width: 28rem;
        height: 26rem;
        margin: 3rem 0 3rem 0;
        
    }
    .parrafo-uno{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .parrafo-dos{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    .parrafo-tres{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    .sectionAbout div, .babyYoda{
        display:none
    }
    /*section dos*/

    .div__experiencia{
        width: 28rem;
        height: 40rem; 
    }
    
    .div__experiencia, .experiencia{
        color: black;
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: center;
        align-items: center;
    
    }
    .div__experiencia, .trabajo-cuatro, .trabajo-tres, .trabajo-dos, .trabajo-uno{
        color: black;
        font-size: 25px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        align-items: center;
    } 
    .experiencia{
        width: 28rem;
        height: 3rem;
        margin-top: 4rem;
    }
    .trabajo-cuatro{
        width: 28rem;
        height: 6rem;
        margin-top: 1rem;
        text-align: left;
    }
    .trabajo-tres{
        width: 28rem;
        height: 4.5rem;
       
        text-align: left;
    }
    .trabajo-dos{
        width: 28rem;
        height: 6rem;
        
        text-align: right;
    }
    .trabajo-uno{
        width: 28rem;
        height: 6rem;
     
        text-align: right;
    }

}

 /*LUMINARIA*/

.divLuminaria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 6rem 0;
}
.img2, .img3, .img4{
    display: none;
}
.lamp6{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    background-color: rgb(178, 168, 159);
}
.img6, .img7, .img8{
    display: none;
}
.sectionTexto1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divLamparas1{
    margin: 4rem 0 4rem 6rem;
}
.lamp4{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 0 1rem 1rem 0;
    background-color: rgb(207, 98, 11);
}
.divTexto1{
    width: 30rem;
    height: 30rem;
    margin: 4rem 6rem 4rem 0;
}
h3{
    color: rgb(207, 98, 11);
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: right;
}
.divTexto1 p{
    color: rgb(207, 98, 11);
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: right;
}
.img10, .img11, .img12{
    display: none;
}
.sectionTexto2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divTexto2{
    width: 30rem;
    height: 30rem;
    margin: 8rem 0 4rem 6rem;
}
.divTexto2 P{
    color: rgb(207, 98, 11);
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: left;
    
}
.divLamparas2{
    margin: 4rem 6rem 4rem 0;
}
.lamp3{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 1rem 0 0 1rem;
    background-color: rgb(207, 98, 11);
}
.img14, .img15, .img16{
    display: none;
}
.sectionTexto3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divLamparas3{
    margin: 8rem 0 6rem 6rem;
}
.lamparas3{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 0 1rem 1rem 0;
    background-color: rgb(207, 98, 11);
}
.divTexto3{
    width: 34rem;
    height: 31rem;
    margin: 4rem 6rem 6rem 0;
    
}
.divTexto3 p{
    color: rgb(207, 98, 11);
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: right;
}

/*------------------------------*/
/*@media para mobile*/
@media (max-width: 576px) {
    .img1, .img3, .img4{
        display: none;
    }
    .divLuminaria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
    }
    .img2{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    
    }

    .sectionTexto1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .divLamparas1{
        margin: 2rem 2rem 2rem 2rem;
    }

    .img5, .img7, .img8{
        display: none;
    }
    .img6{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .fade-right{
        display: none;
    }
    .divTexto1{
        width: 9rem;
        height: 15.5rem;
    }
    h3{
        color: rgb(207, 98, 11);
        font-size: 16px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }
    .divTexto1 p{
        color: rgb(207, 98, 11);
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }
    .img9, .img11, .img12{
        display: none;
    }
    .img10{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .sectionTexto2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .divTexto2{
        width: 9rem;
        height: 15.5rem;
    }
    .divTexto2 P{
        color: rgb(207, 98, 11);
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: left;
    
        
    }
    .divLamparas2{
        margin: 0 2rem 0 2rem;
    }

    .img13, .img15, .img16{
        display: none;
    }

    .sectionTexto3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .divLamparas3{
        margin: 0 2rem 2rem 2rem;
    }
    .img14{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .divTexto3{
        width: 22rem;
        height: 6rem;
        margin: 2rem 2rem 2rem 2rem;
        
    }
    .divTexto3 p{
        color: rgb(207, 98, 11);
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }

    .divArrow{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    .arrow{
        color: rgb(207, 98, 11);
        font-size: 30px;
    
    }
    .arrow i:hover{
        color: black;
        font-size: 30px;
    }
    /*.container__general{
        width: 100%;
    }*/

}

/*------------------------------*/
/*@media para sm*/

@media (min-width: 577px) and (max-width: 767px) {
    .img1, .img2, .img4{
        display: none;
    }
    .divLuminaria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
    }
    .img3{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    
    }

    .sectionTexto1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .divLamparas1{
        margin: 2rem 2rem 2rem 2rem;
    }

    .img5, .img6, .img8{
        display: none;
    }
    .img7{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    
    .divTexto1{
        width: 18.5rem;
        height: 10.5rem;
    }
    h3{
        color: rgb(207, 98, 11);
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }
    .divTexto1 p{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }
    .img9, .img10, .img12{
        display: none;
    }
    .img11{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .sectionTexto2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    .divTexto2{
        width: 12.5rem;
        height: 15.5rem;
    }
    .divTexto2 P{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: left;
    
        
    }
    .divLamparas2{
        margin: 0 2rem 0 2rem;
    }

    .img13, .img14, .img16{
        display: none;
    }

    .sectionTexto3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .divLamparas3{
        margin: 0 2rem 2rem 2rem;
    }
    .img13{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .divTexto3{
        width: 22rem;
        height: 6rem;
        margin: 2rem 2rem 2rem 2rem;
        
    }
    .divTexto3 p{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }

    .divArrow{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    .arrow{
        color: rgb(207, 98, 11);
        font-size: 30px;
    
    }
    .arrow i:hover{
        color: black;
        font-size: 30px;
    }
    /*.container__general{
        width: 100%;
    }*/

}


/*------------------------------*/
/*@media para tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .img1, .img3, .img2{
        display: none;
    }
    .divLuminaria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
    }
    .img4{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    
    }

    .sectionTexto1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .divLamparas1{
        margin: 2rem 2rem 5rem 2rem;
    }

    .img5, .img7, .img6{
        display: none;
    }
    .img8{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    
    .divTexto1{
        width: 15.5rem;
        height: 20.5rem;
    }
    h3{
        color: rgb(207, 98, 11);
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    .divTexto1 p{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    .img9, .img11, .img10{
        display: none;
    }
    .img12{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .sectionTexto2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }
    .divTexto2{
        width: 17rem;
        height: 15.5rem;
    }
    .divTexto2 P{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    
        
    }
    .divLamparas2{
        margin: 0 2rem 0 2rem;
    }

    .img13, .img15, .img14{
        display: none;
    }

    .sectionTexto3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }
    
    .divLamparas3{
        margin: 0 2rem 2rem 2rem;
    }
    .img16{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .divTexto3{
        width: 22rem;
        height: 6rem;
        margin: 2rem 2rem 2rem 2rem;
        
    }
    .divTexto3 p{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }

    .divArrow{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    .arrow{
        color: rgb(207, 98, 11);
        font-size: 30px;
    
    }
    .arrow i:hover{
        color: black;
        font-size: 30px;
    }
    /*.container__general{
        width: 100%;
    }*/

}

/*Moldes y Matrices*/
.img18, .img19, .img20{
    display: none;
}
.divTenedores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 6rem 0;
}
.tenedores{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    background-color: rgb(178, 168, 159);
}

.img22, .img23, .img24, .img26, .img27, .img28{
    display: none;
}
.sectionMatriz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.parrafoMatriz{
    width: 23rem;
    height: 20rem;
    margin: 12rem 0 0 6rem;
}
.parrafoMatriz p{
    color: black;
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
}
.divMatriz{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 4rem 6rem 0 0;
    gap: 4rem;
}
.tenedor1{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 1rem 0 0 1rem;
    background-color: black;
}
.tenedor2{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 0 0 1rem 1rem;
    background-color: black;
}
.divCarousel{
    margin: 3rem 0 3rem 7rem;
}

.sectionCopa{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.divCarousel{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 0 0 1rem 1rem;
    background-color: black;
}
.parrafoCopa{
    width: 55rem;
    height: 18rem;
    margin: 3rem 7rem 3rem 0;
}

.parrafoCopa p{
    color: black;
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: right;
}

/*------------------------------*/
/*@media para mobile*/
@media (max-width: 576px) {
    .img17, .img19, .img20{
        display: none;
    }
    .divTenedores{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
    }
    .img18{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    }

    .img21, .img23, .img24, .img25, .img27, .img28{
        display: none;
    }

    .sectionMatriz{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .parrafoMatriz{
        width: 18rem;
        height: 7rem;
        margin: 2rem 0 2rem 1.5rem;
    }
    .parrafoMatriz p{
        color: black;
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
    }
    .divMatriz{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem 2rem 0 2rem;
        gap: 1rem;
    }
    .img22{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: black;
    }
    .img26{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: black;
    }
    .divCarousel{
        margin: 6rem 0 2rem 0;
    }
    
    .sectionCopa{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .divCarousel{
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 0 1rem 1rem;
        background-color: black;
    }
    .parrafoCopa{
        width: 20rem;
        height: 5rem;
        margin: 2rem 0 3rem 0;
    }
    
    .parrafoCopa p{
        color: black;
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }

}

/*------------------------------*/
/*@media para sm*/

@media (min-width: 577px) and (max-width: 767px) {
    .img17, .img18, .img20{
        display: none;
    }
    .divTenedores{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
    }
    .img19{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    }

    .img21, .img22, .img24, .img25, .img26, .img28{
        display: none;
    }

    .sectionMatriz{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .parrafoMatriz{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25rem;
        height: 10rem;
        margin: 0 1rem 0.5rem 0;
    }
    .parrafoMatriz p{
        color: black;
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
    }
    .divMatriz{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        margin: 1rem 0.5rem 0 0;
    }
    .img23{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: black;
    }
    .img27{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: black;
    }
    .divCarousel{
        margin: 6rem 0 2rem 0;
    }
    
    .sectionCopa{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .divCarousel{
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 0 1rem 1rem;
        background-color: black;
    }
    .parrafoCopa{
        width: 26rem;
        height: 8rem;
        margin: 2rem 0 3rem 0;
    }
    
    .parrafoCopa p{
        color: black;
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }

}

/*------------------------------*/
/*@media para tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .img17, .img19, .img18{
        display: none;
    }
    .divTenedores{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
    }
    .img20{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    }

    .img21, .img23, .img22, .img25, .img27, .img26{
        display: none;
    }

    .sectionMatriz{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .parrafoMatriz{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 31rem;
        height: 10rem;
        margin: 2rem 0.5rem 0 0;
    }
    .parrafoMatriz p{
        color: black;
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
    }
    .divMatriz{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        margin: 2rem 0.5rem 0 0;
    }
    .img24{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: black;
    }
    .img28{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: black;
    }
    .divCarousel{
        margin: 6rem 0 2rem 0;
    }
    
    .sectionCopa{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .divCarousel{
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 0 1rem 1rem;
        background-color: black;
    }
    .parrafoCopa{
        width: 42.5rem;
        height: 8rem;
        margin: 2rem 0 3rem 0;
    }
    
    .parrafoCopa p{
        color: black;
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    
}


/*bazar*/

.img30, .img31, .img32{
    display: none;
}
.divBazar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 6rem 0;

}
.FondoMates2{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    background-color: rgb(178, 168, 159);
}

.img34, .img35, .img36, .img38, .img39, .img40{
    display: none;
}
.sectionMatesParrafo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.divBazarParrafo{
    width: 23rem;
    height: 20rem;
    margin: 15rem 0 0 6rem;
}

.divBazarParrafo p{
    color: rgb(207, 98, 11);
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: left;
}

.divMates{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 4rem 6rem 0 0;
    gap: 4rem;
}
.carpincho{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 1rem 0 0 1rem;
    background-color: rgb(207, 98, 11);
}
.chancho{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 0 0 1rem 1rem;
    background-color: rgb(207, 98, 11);
}


.img42, .img43, .img44, .img46, .img47, .img48{
    display: none;
}
.divBabyYoda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 6rem 0 6rem 4rem;
    gap: 4rem;
}
.yoda2{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 1rem 1rem 0 0;
    background-color: rgb(207, 98, 11);
}
.yoda3{
    border: solid 1px rgb(178, 168, 159);
    border-radius: 12px;
    padding: 0 1rem 1rem 0;
    background-color: rgb(207, 98, 11);
}
.divYodaParrafo{
    width: 35rem;
    height: 50rem;
    margin: 9rem 4rem 0 0;
}
.divYodaParrafo p{
    color: rgb(207, 98, 11);
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    text-align: right;
}

.sectionYoda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/*------------------------------*/
/*@media para mobile*/
@media (max-width: 576px) {
    .img29, .img31, .img32{
        display: none;
    }
    .divBazar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    
    }
    .img30{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    }

    .img33, .img35, .img36, .img37, .img39, .img40{
        display: none;
    }
    .sectionMatesParrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .divBazarParrafo{
        width: 19rem;
        height: 5rem;
        margin: 0 0.5rem 1rem 0

    }
    
    .divBazarParrafo p{
        color: rgb(207, 98, 11);
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: left;
    }
    
    .divMates{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem 2rem 0 2rem;
        gap: 1rem;
    }
    .img34{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: rgb(207, 98, 11);
    }
    .img38{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    
    .img41, .img43, .img44, .img45, .img47, .img48{
        display: none;
    }
    .divBabyYoda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0.5rem 1rem 0;
    }
    .img42{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: rgb(207, 98, 11);
    }
    .img46{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .divYodaParrafo{
        width: 17rem;
        height: 15rem;
        margin: 2rem 0.5rem 2rem 0.5rem;
    }
    .divYodaParrafo p{
        color: rgb(207, 98, 11);
        font-size: 15px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }
    
    .sectionYoda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

}

/*------------------------------*/
/*@media para sm*/

@media (min-width: 577px) and (max-width: 767px) {
    .img29, .img30, .img32{
        display: none;
    }
    .divBazar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    
    }
    .img31{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    }

    .img33, .img34, .img36, .img37, .img38, .img40{
        display: none;
    }
    .sectionMatesParrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .divBazarParrafo{
        width: 19rem;
        height: 8rem;
        margin: 0 0.5rem 1rem 1rem;

    }
    
    .divBazarParrafo p{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: left;
    }
    
    .divMates{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem 0.5rem 0 0.5rem;
        gap: 1rem;
    }
    .img35{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: rgb(207, 98, 11);
    }
    .img39{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    
    .img41, .img42, .img44, .img45, .img46, .img48{
        display: none;
    }
    .divBabyYoda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 6rem 0 2rem 1rem;
    }
    .img43{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: rgb(207, 98, 11);
    }
    .img47{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .divYodaParrafo{
        width: 19.5rem;
        height: 17rem;
        margin: 0.5rem 0.5rem 2rem 0.5rem;
    }
    .divYodaParrafo p{
        color: rgb(207, 98, 11);
        font-size: 18px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
        text-align: right;
    }
    
    .sectionYoda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}

/*------------------------------*/
/*@media para tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    .img29, .img30, .img31{
        display: none;
    }
    .divBazar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    
    }
    .img32{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        background-color: rgb(178, 168, 159);
    }

    .img33, .img34, .img35, .img37, .img38, .img39{
        display: none;
    }
    .sectionMatesParrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .divBazarParrafo{
        width: 30rem;
        height: 9rem;
        margin: 0 0.5rem 1rem 0.5rem

    }
    
    .divBazarParrafo p{
        color: rgb(207, 98, 11);
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    
    .divMates{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3rem 0.5rem 0 0.5rem;
        gap: 2rem;
    }
    .img36{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 0 0 1rem;
        background-color: rgb(207, 98, 11);
    }
    .img40{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    
    .img41, .img42, .img43, .img45, .img46, .img47{
        display: none;
    }
    .divBabyYoda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .img44{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 1rem 1rem 0 0;
        background-color: rgb(207, 98, 11);
    }
    .img48{
        display: block;
        border: solid 1px rgb(178, 168, 159);
        border-radius: 12px;
        padding: 0 1rem 1rem 0;
        background-color: rgb(207, 98, 11);
    }
    .divYodaParrafo{
        width: 31.5rem;
        height: 20rem;
        margin: 0.5rem 0 2rem 3rem;
    }
    .divYodaParrafo p{
        color: rgb(207, 98, 11);
        font-size: 20px;
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        text-align: right;
    }
    
    .sectionYoda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}